<?xml version="1.0"?>
<!-- Description of the LEMOWER robot with XACRO to avoid repeating data -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="lemower">

    <!-- This will include all the contents of example_include.xacro first. Go check it out! -->
    <xacro:include filename="lemower_include.xacro" />

    <!-- This file is the description of the robot -->
    <xacro:include filename="lemower_core.xacro" />

    <xacro:include filename="lemower_gazebo.xacro" /> 

    <xacro:include filename="ros2_control.xacro"/>
    <!-- <xacro:include filename="lemower_gz_control.xacro" /> -->

</robot>
