<?xml version="1.0"?>
<robot name="lemower">
    <link name="base_link">
        <visual>
            <geometry>
                <box size="0.2 0.32 0.04"/>
            </geometry>
            <material name="blue">
               <color rgba="0 0 .8 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <box size="0.2 0.32 0.04"/>
            </geometry>
        </collision>     
        <inertial>
            <mass value="1.5"/>
            <inertia ixx="0.000020" ixy="0.0" ixz="0.0" iyy="0.000008" iyz="0.0" izz="0.000512"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </inertial>
    </link>
    <link name="electronics">
        <visual>
            <geometry>
                <box size="0.2 0.15 0.04"/>
            </geometry>
            <origin xyz="0 -0.085 0.04" rpy="0 0 0"/>
            <material name="blue">
               <color rgba="0 0 .8 1"/>
            </material>
        </visual> 
        <collision>
            <origin xyz="0 -0.085 0.04" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.15 0.04"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.4"/>
            <inertia ixx="0.0000012" ixy="0.0" ixz="0.0" iyy="0.000002" iyz="0.0" izz="0.00003"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </inertial>
    </link>
    <link name="lidar">
        <visual>
            <geometry>
                <box size="0.06 0.05 0.03"/>
            </geometry>
            <origin xyz="0 -0.085 0.075" rpy="0 0 0"/>
            <material name="black">
               <color rgba="1 1 1 1"/>
            </material>
        </visual> 
        <collision>
            <origin xyz="0 -0.085 0.075" rpy="0 0 0"/>
            <geometry>
                <box size="0.06 0.05 0.03"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.1"/>
            <inertia ixx="0.00000002" ixy="0.0" ixz="0.0" iyy="0.000000027" iyz="0.0" izz="0.000000075"/>
            <origin xyz="0.03 0.075 0.015" rpy="0 0 0"/>
        </inertial>
    </link>
    <link name="bras decoupe">
        <visual>
            <geometry>
                <box size="0.003 0.06 0.01"/>
            </geometry>
            <origin xyz="0 0.025 0" rpy="0 0 0"/>
            <material name="blue">
               <color rgba="0 0 .8 1"/>
            </material>
        </visual> 
        <collision>
            <origin xyz="0 0.025 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.003 0.06 0.01"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.05"/>
            <inertia ixx="0.0000000015" ixy="0.0" ixz="0.0" iyy="0.000000000015" iyz="0.0" izz="0.0000000005"/>
            <origin xyz="0.0015 0.03 0.005" rpy="0 0 0"/>
        </inertial>
    </link>
    <link name="decoupe">
        <visual>
            <geometry>
                <box size="0.3 0.1 0.06"/>
            </geometry>
            <origin xyz="0 0.045 0" rpy="0 0 0"/>
            <material name="red">
               <color rgba="0.8 0.1 0.1 1"/>
            </material>
        </visual> 
        <collision>
            <origin xyz="0 0.045 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3 0.1 0.06"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.5"/>
            <inertia ixx="0.0000015" ixy="0.0" ixz="0.0" iyy="0.0000135" iyz="0.0" izz="0.0000375"/>
            <origin xyz="0.15 0.05 0.03" rpy="0 0 0"/>
        </inertial>
    </link>

    <link name="Roue arrière gauche">
        <visual>
            <geometry>
                <cylinder length="0.045" radius="0.048"/>
            </geometry>
            <material name="green">
               <color rgba=".1 .4 .15 1"/>
            </material>
        </visual> 
        <collision>
            <geometry>
                <cylinder length="0.045" radius="0.048"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.2"/>
            <inertia ixx="0.00014895" ixy="0.0" ixz="0.0" iyy="0.00014895" iyz="0.0" izz="0.0000384"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </inertial>
    </link>
    <link name="Roue arrière droite">
        <visual>
            <geometry>
                <cylinder length="0.045" radius="0.048"/>
            </geometry>
            <material name="green">
               <color rgba=".1 .4 .15 1"/>
            </material>
        </visual> 
        <collision>
            <geometry>
                <cylinder length="0.045" radius="0.048"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.2"/>
            <inertia ixx="0.00014895" ixy="0.0" ixz="0.0" iyy="0.00014895" iyz="0.0" izz="0.0000384"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </inertial>
    </link>
    <link name="Roue avant gauche">
        <visual>
            <geometry>
                <cylinder length="0.045" radius="0.034"/>
            </geometry>
            <material name="green">
               <color rgba=".1 .4 .15 1"/>
            </material>
        </visual> 
        <collision>
            <geometry>
                <cylinder length="0.045" radius="0.034"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.2"/>
            <inertia ixx="0.00009155" ixy="0.0" ixz="0.0" iyy="0.00009155" iyz="0.0" izz="0.000019266"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </inertial>
    </link>
    <link name="Roue avant droite">
        <visual>
            <geometry>
                <cylinder length="0.045" radius="0.034"/>
            </geometry>
            <material name="green">
               <color rgba=".1 .4 .15 1"/>
            </material>
        </visual> 
        <collision>
            <geometry>
                <cylinder length="0.045" radius="0.034"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.2"/>
            <inertia ixx="0.00009155" ixy="0.0" ixz="0.0" iyy="0.00009155" iyz="0.0" izz="0.000019266"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </inertial>
    </link>

    <joint name="base_to_elec" type="fixed">
        <parent link="base_link"/>
        <child link="electronics"/>
    </joint>
    <joint name="elec_to_lidar" type="fixed">
        <parent link="electronics"/>
        <child link="lidar"/>
    </joint>
    <joint name="base_to_bras_decoupe" type="revolute">
        <parent link="base_link"/>
        <child link="bras decoupe"/>
        <origin xyz="0 0.160 0.01" rpy="0 0 0"/>
        <limit effort="1000.0" lower="-0.548" upper="0.548" velocity="0.5"/>      
        <axis xyz="1 0 0"/>
    </joint>
    <joint name="bras_decoupe_to_decoupe" type="revolute">
        <parent link="bras decoupe"/>
        <child link="decoupe"/>
        <axis xyz="1 0 0"/>
        <origin xyz="0 0.05 0" rpy="0 0 0"/>
        <limit effort="1000.0" lower="-0.548" upper="0.548" velocity="0.5"/>
    </joint>
    <joint name="base_to_roue_arriere_gauche" type="continuous">
        <parent link="base_link"/>
        <child link="Roue arrière gauche"/>
        <origin xyz="-0.125 -0.095 -0.039" rpy="0 1.5708 0"/>
        <axis xyz="0 0 1"/>
    </joint>
    <joint name="base_to_roue_arriere_droite" type="continuous">
        <parent link="base_link"/>
        <child link="Roue arrière droite"/>
        <origin xyz="0.125 -0.095 -0.039" rpy="0 1.5708 0"/>
        <axis xyz="0 0 1"/>
    </joint>
    <joint name="base_to_roue_avant_gauche" type="continuous">
        <parent link="base_link"/>
        <child link="Roue avant gauche"/>
        <origin xyz="-0.125 0.108 -0.0515" rpy="0 1.5708 0"/>
        <axis xyz="0 0 1"/>
    </joint>
    <joint name="base_to_roue_avant_droite" type="continuous">
        <parent link="base_link"/>
        <child link="Roue avant droite"/>
        <origin xyz="0.125 0.108 -0.0515" rpy="0 1.5708 0"/>
        <axis xyz="0 0 1"/>
    </joint>
</robot>